
{% extends 'base_with_navbar.html' %}

{% block title %}
    Internship Details
{% endblock %}


{% block content_block %}

    <!-- Check if internship exists and show details -->
    {% if internship %}
        <div class="span7">
            {% if just_applied %}
                <h2> You have successfully applied for this internship. </h2>
                <hr/>
            {% endif %}


            <h2> Internship Details </h2>

            <h3> {{ internship.job_name }}</h3>

        </div>


        <div class="span7" style="border-style:solid; border-width:2px; border-color: cornflowerblue; padding: 20px; background-color: #ffffff;">
            <p><h3><a href="/company/id/{{ company.id }}">{{ company.company_name }}</a></h3></p>

            <p> Monthly salary: ${{ internship.salary }}</p>
            <p> Deadline: {{ internship.deadline }}</p>
            <p> Location: {{ internship.location }}</p>

            <h4> Description: </h4>
            <p class="text-justify" style="font-size: 16px;"> {{ internship.job_description }}</p>
            <h4> Required skills: </h4>

            <!-- Print required skill list if there is any -->
            {% if skills %}
                <ul>
                    {% for skill in skills %}
                        <li> {{ skill }}</li>
                    {% endfor %}
                </ul>

                <!-- Print no skills required if the skills list is empty -->
            {% else %}
                <p> No skills required.</p>
            {%  endif %}

        </div>

        <div class="pull-left">
            <!-- Show apply link if the user is logged in as an intern -->
            {% if user_type == 2 %}
                <div class="span7">
                {% if has_applied %}
                    <hr>
                    <p> You have already applied for this internship. </p>
                {% else %}
                    <form action="/intern/offer/{{ internship.id }}/" method="post">
                        {% csrf_token %}

                        <hr>
                        <input class="btn btn-primary" type="submit" onclick="return confirm('Are u sure you want to apply?')" value="Apply" />

                    </form>
                {% endif %}
            {% endif %}
            </div>

            <hr/>

            <div class="span7">
                <h2> People also applied for: </h2>
                {% include 'joblist.html' with job_list=recommendations %}
            </div>
            <!-- Notify the user if the internship does not exit -->
        </div>
    {% else %}
        <p> Internship missing </p>
    {% endif %}
{% endblock %}