
{% extends 'base_with_navbar.html' %}

{% block title %}
    Jobs Posted
{% endblock %}


{% block content_block %}

    <h3>Your internships!</h3>

        <ul class="nav nav-list">
            {% if job_list %}
                <table class="table table-striped">
	              {% for job in job_list %}
		              <tr>
                          <td><a href="/intern/offer/{{ job.id }}">{{ job.job_name }}</a></td>
                          <td><a href="/company/applicants/{{ job.id }}"> View Job Applicants</a></td>
                          <td><a href="/company/offer/{{ job.id }}"> Edit Job</a></td>

                      </tr>

		          {% endfor %}
                </table>
            {% else %}
              <li>No jobs Posted By You.</li>
        	{% endif %}

        </ul>

{% endblock %}