
{% extends 'base_with_navbar.html' %}

{% block title %}
    Applicants List
{% endblock %}


{% block content_block %}

    <h3> {{ message }}</h3>

    {% if is_company %}

        <ul class="nav nav-list">
            {% if applications %}
                <table class="table table-striped">
                {% for app in applications %}
                    <tr>
                        <td><a href="/intern/id/{{ app.intern.id }}" class="btn">{{ app.intern.user.first_name }} {{ app.intern.user.last_name }}</a></td>
                        {% if app.accepted %}
                            <td><b>Already accepted</b></td>
                        {% else %}
                            <td><a href="#" class="btn btn-primary">Accept this intern</a></td>
                        {% endif %}

                    </tr>
                {% endfor%}
                </table>
            {% else %}
                <li>No Applicants Found.</li>
            {% endif %}
        </ul>

    {% endif %}

{% endblock %}