
{% extends 'base_with_navbar.html' %}

{% block title %}
    Applicants List
{% endblock %}


{% block content_block %}

    <h3> {{ message }}</h3>

    {% if is_company %}

        <ul class="nav nav-list">
            {% if applications %}
                <table class="table table-striped">
                {% for app in applications %}
                    <tr>
                        <td><a href="/intern/id/{{ app.intern.id }}" class="btn">{{ app.intern.user.first_name }} {{ app.intern.user.last_name }}</a></td>
                        {% if app.status != 'Pending' %}
                            <td><b>This intern is already {{ app.status }}.</b></td><td></td>
                        {% else %}
                            <td><a href="/company/accept/?intern_id={{ app.intern.id }}&job_id={{ app.job.id }}" class="btn btn-primary" onclick="return confirm('Are u sure you want to accept this intern?')">Accept this intern</a></td>
                            <td><a href="/company/decline/?intern_id={{ app.intern.id }}&job_id={{ app.job.id }}" class="btn btn-danger" onclick="return confirm('Are u sure you want to decline this intern?')">Decline this intern</a></td>
                        {% endif %}

                    </tr>
                {% endfor%}
                </table>
            {% else %}
                <li>No Applicants Found.</li>
            {% endif %}
        </ul>

    {% endif %}

{% endblock %}