
{% extends 'base_with_navbar.html' %}

{% block title %}
    Browse Applicants
{% endblock %}


{% block content_block %}
    <div class="row">
        <div class="col-lg-7">
            <h1> Browse Applicants! </h1>
            <form>
                <label></label>

                <label>Choose skill</label>
                <select  class="form-control" name="skill_dropwdown" value="" id="skill_dropdown">
                    {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.skill_name }}</option>
                    {% endfor %}
                </select>

            </form>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-lg-11">
            <div id="intern_area">
                <label> Please select the skill above. </label>
            </div>
        </div>
    </div>

{% endblock %}