{% extends 'base_with_navbar.html' %}

{% block title %} About Us {% endblock %}

{% block content_block %}
    <h1>About Us</h1>
    <hr/>

    <h2>The mission</h2>
    <p class="text-justify">InternFinder is a new website that provides an exciting and simple way for employers and interns to connect with
        each other.  The ultimate goal is to allow employers to search for new graduates and talented students that are
        ambitious to fulfil their internships. InternFinder aims to provide internships that are IT based.  Students and
        fresh graduates will also be able to search for internships of their choice and submit an application.</p>

    <hr/>
    <h2>Founders</h2>
    <p>InternFinder has been developed as part of a Masters project for the Internet Technology module by group “BYTE”.</p>

    <p>This website has been created for demonstration purposes.</p>
{% endblock %}