{% extends 'base.html' %}

{% block title %} Internship Finder Home {% endblock %}

{% block body_block %}

<div class="well sidebar-nav col-xs-12 col-sm-3 col-lg-3">
{% if user_type == 0 %}
    {% include 'navbar_unregistered.html' %}
{% elif user_type == 1 %}
    {% include 'company/navbar_company.html' %}
{% elif user_type == 2 %}
    {% include 'intern/navbar_intern.html' %}
{% endif %}
</div>


<div class="well well-lg sidebar-nav col-xs-12 col-sm-8 col-lg-8 col-lg-offset-1 col-sm-offset-1" style="min-height: 400px;">
{% block content_block %} Something is wrong {% endblock %}
</div>

{% endblock %}