{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block body_block %}

    <!--SLIDER -->
    <table class="span10">
        <tr>
            <td style="padding-bottom: 15px;">
            <div class="row-fluid">
                <div class="bxslider">
                    <p><a href="/company/id/17/"><img src="{% static 'img/slide1.jpg' %}" title="Amazone"/></a></p>
                    <p><a href="/company/id/20/"><img src="{% static 'img/slide2.jpg' %}" title="IFR"/></a></p>
                    <p><a href="/company/id/16"><img src="{% static 'img/slide3.jpg' %}" title="Skyscorner"/></a></p>
                </div>
            </div>
        </td>
        </tr>
        <tr>
            <td>

                <div class="well">
                    <div class="row-fluid">
                        <div class="panel panel-default span6">
                            <a href="/intern/register/"><img src="{% static 'img/reg_intern.jpg' %}" style="max-height: 100%; max-width: 100%" /></a>
                        </div>


                        <div class="panel panel-default span6">
                            <a href="/company/register/"><img src="{% static 'img/reg_company.jpg' %}" style="max-height: 100%; max-width: 100%" /></a>
                    </div>
                    <hr/>

                    <div class="row-fluid">
                        <div class="panel panel-default span6">
                            <div class="panel-title text-center"><h3>Our top offers</h3></div>
                            <div class="panel-body">
                                {% if top_offers %}
                                    <table class="table table-striped">
                                        {% for offer in top_offers %}
                                            <tr>
                                                <td> <a href='/intern/offer/{{ offer.id }}'> {{ offer }} </a></td>
                                                <td>Application count: {{ offer.applicant_count }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <p> We don't have any top offers :( </p>
                                {% endif %}
                            </div>
                        </div>


                        <div class="panel panel-default span6">
                            <div class="panel-title text-center"><h3>Our latest offers</h3></div>
                            <div class="panel-body">
                                {% if latest_offers %}
                                    <table class="table table-striped">
                                        {% for offer in latest_offers %}
                                            <tr>
                                                <td> <a href='/intern/offer/{{ offer.id }}'> {{ offer }} </a></td>
                                                <td>{{ offer.posting_date }}</td>
                                            </tr>
                                        {% endfor %}

                                    </table>
                                {% else %}
                                    <p> We don't have any latest offers :( </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}