{% extends 'base_with_navbar.html' %}

{% block title %}
    Register with InternFinder
{% endblock %}

{% block content_block %}
    {% if user.is_authenticated and is_reg %}
        <h3> You are already registered. </h3>
    {% else %}
        {% if is_reg %}
            <h1>Register with InternFinder</h1>
        {% else %}
            <h1>Edit your profile here!</h1><br />
        {% endif %}

        {% if registered %}
            {% if user_type == 0 %}
                <strong>Thank you for registering!</strong>
                <hr>
                <p>You can now log in
                    <a href="/login/" class="btn btn-primary"> Log in</a>
                </p>
            {% else %}
                <strong>Successfully changed your data. </strong>


            {% endif %}
        {% else %}

            <form class="form-signin span4" role="form" id="user_form" method="post" action="{{ action }}"
                  enctype="multipart/form-data">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->

                {% for field in user_form.visible_fields %}

                    {{ field.errors }}
                    <label>{{ field.help_text}}</label><br/>
                    <div class="form-group">{{ field }}</div><br/>
                {% endfor %}


                {% if reg_type == 1 %}
                    <label>{{ profile_form.introduction.help_text }}<br/></label>
                    <div class="form-inline">
                        {{ profile_form.introduction.errors }}
                        {{ profile_form.introduction }}
                    </div>

                    <label>{{ profile_form.dob.help_text }}<br/></label>
                    <div class="form-inline">
                        {{ profile_form.dob.errors }}
                        {{ profile_form.dob }}
                    </div>


                    <hr/>
                    {{ profile_form.skills.error_messages }}
                    <label>{{ profile_form.skills.help_text }}</label>
                    <div class="panel panel-default">
                        <div class="panel-body" id="reglist">
                            {{ profile_form.skills }}
                        </div></div>

                {% else %}
                    {% for field in profile_form.visible_fields %}

                        {{ field.errors }}
                        <label>{{ field.help_text}}</label><br/>
                        <div class="form-group">{{ field }}</div><br/>
                    {% endfor %}
                {% endif %}

                <!-- Provide a button to click to submit the form. -->
                <input class="btn btn-primary" type="submit" name="submit" value="Register" />
            </form>
        {% endif %}
    {% endif %}
    </div>
{% endblock %}