
{% extends 'base_with_navbar.html' %}

{% block title %}
    Search Internship
{% endblock %}


{% block content_block %}
    <div class="row"><div class="col-lg-8"><h1> Search for internships! </h1></div></div>
    <div class="row">
        <div class="col-lg-7">
            <form>
                <input  class="form-control" type="text" name="suggestion" value="" id="suggestion" />
            </form>
        </div>
    </div>


    <hr/>
    <div id="job_area" class="row">
        <div class="col-lg-7">
            <label> Please search for the job name above. </label>
        </div>
    </div>

{% endblock %}