
{% extends 'base_with_navbar.html' %}

{% block title %}
    Search Internship
{% endblock %}


{% block content_block %}
    <div class="span5">
        <h1> Search for internships! </h1>
        <form>
            <label></label>
            <input  class="form-control span3" type="text" name="suggestion" value="" id="suggestion" />
        </form>
    </div>


    <div class="span5">
        <hr/>
        <div id="job_area">
            <label> Please search for the job name above. </label>
        </div>
    </div>

{% endblock %}