
{% extends 'base_with_navbar.html' %}

{% block title %}
    Search Internship
{% endblock %}


{% block content_block %}
    <ul class="nav nav-list">
        <h1> Search for internships! </h1>
        <form>
            <label></label>
            <li><input  class="form-control span3" type="text" name="suggestion" value="" id="suggestion" /></li>
        </form>
    </ul>

    <hr/>
    <div id="job_area">
        <label> Please search for the job name above. </label>
    </div>

{% endblock %}