{% extends 'base.html' %}

{% block title %} Top offers {% endblock %}

{% block body_block %}
    <h1> Our top offers </h1>
    {% if top_offers %}
        <ul>
            {% for offer in top_offers %}
            <li> {{ offer }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p> We don't have any top offers :( </p>
    {% endif %}

    <h1> Our latest offers </h1>
    {% if latest_offers %}
        <ul>
            {% for offer in latest_offers %}
            <li> {{ offer }} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> We don't have any latest offers :( </p>
    {% endif %}
{% endblock %}